:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #0f0f0f;
  color: white;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #0f0f0f;
}

#root {
  width: 100%;
}

/* Global kill for the white focus outline on buttons */
* {
  outline: none !important;
  box-shadow: none !important;
}

button {
  cursor: pointer;
}